body{
margin:0;
background-color:#EAFDFC;
text-align:center;
margin-top:100px;
    }
.topcloud{
width:100px;
 height:100px;
position:absolute;
right:350px;
top:50px;
}
.cloudtwo{
width:100px;
height:100px;
position:absolute;
left:400px;
top:150px;
}
.mountain{

width:40%;


}

h1{
margin-top:0px;
margin-bottom:0px;
font-family:"Brush Script MT",Lucida Handwriting;
font-size:3rem;
color:#66BFBF;
line-height:2;
}
h2{
margin-top:0px;
margin-bottom:0px;
font-family:Lucida Handwriting;
font-size:1rem;
color:#66BFBF;

}
h3{
color:#11999E;
}
a{color:#11999E}
p{
  margin-top:0;
}
.onebox{

margin:0;
}
.myskillimg2{
width:25%;
float:right;
position:relative;
right:140px;
bottom:40px;
}
.myskillimg1{
width:25%;
float:left;
position:relative;
bottom:40px;
right:20px;
}
.skill-row1{
width:50%;
margin:50px auto 10px auto;
text-align:left;
}
.skill-row2{
width:50%;
margin:50px auto 50px auto;
text-align:left;
}

.btn{
background-color:#66BFBF;
border-radius:8px;
color:white;
border:none;
}
.bottom-container{
background-color:#91D8E4;
height:80px;
}
.footer-link{
color:white;
margin:40px;
text-decoration:none;
}
a:hover{
color:green;
}
